body {
  line-height: 1.5;
  font-size: 100%;
  background-image: url(../img/mountain_biking.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: deeppink;
}

img {
  max-width: 100%;
}

h1, h2 {
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
}

.header-h1 {
  float: left;
  margin-left: 5%;
}

.project-header h2 {
  margin: 0%;
}

#main-page-wrapper h2 {
  font-size: 2em;
}

#main-page-wrapper h2, #about-me h2 {
    margin-top: 7em;
}

p {
  font-size: 1em;
  font-family: "Garamond", serif;
}

.project-body p, #about-me p, #contact p{
  text-align: left;
  text-indent: 2em;
  width: 90%;
  margin: 1em 5% 0 5%;
}

@media screen and (min-width:678px) {
  .project-body p, #about-me p, #contact p {
    width: 90%;
    margin: 0 auto;
    margin-top: 1em;
  }
}

article, #main-page-wrapper, #about-me {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: -150px;
}

article, #about-me, #contact {
  background-color: rgba(255,255,255,0.5);
  border: none;
  border-radius: 1em;
  padding-bottom: 1em;
}

a, a:link, a:active {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(0, 128, 128);
}
*{
  color: white;
}
