.main-container{
  margin:0 auto;
  width:90%;
}

.nav-icon {
    position: absolute;
    top: 1%;
    right: 5%;
    font-size: 40px;
}

.navigation {
    color: white;
    position: absolute;
    top: 4%;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.navigation ul {
    display: none
}

.intro-container {
  text-align: center;
  margin-top:7%;
}

.navigation  a{
    color:black;
    padding:1%;
    display:block;

}
.about-me-container{
  text-align: center;
  display:flex;
  flex-direction: row;
}

.image-portfolio{
 flex:1;

}
.about-me-intro{
  flex:2;
}

.contact-me ul{
  display:flex;
  flex-direction: row;
  /*margin-left: 30%;
  margin-top: 5%;*/
padding-left: 18%;

}

.contact-me ul li {
  padding-left: 5%;


}
.contact-me ul li a{
  color:rgba(29, 29, 29, 0.42);
  font-size: 20px;
}

.template{
  display:none;
}

.hidden-span{
  display:none;
}
